# test
test-project

# git
.git
.gitignore

# node
node_modules
package-lock.json

# clasp&GAS
.clasprc.json
.clasp.json
appsscript.json

# other
.vscode
*.code-workspace
*.sublime-workspace
*.sublime-project

# logs
logs
*.log

# OS files
*.bak
.DS_Store
thumbs.db

# Markdown
*.md
*.markdown